@import url(https://takosthings.github.io/Fluent-Discord/Fluent-Discord.css);
:root {
  /* Red */
  --fluent-accent-hue-sat: 355, 86%;
  --fluent-accent-lightness: 49%;
  --fluent-text-on-accent-color: 0, 0, 0;
  --fluent-acrylic-background: url(https://raw.githubusercontent.com/Tech5G5G/Fluent-Theme-Vencord/main/img23.jpg);
  --fluent-acrylic-background-blur: 24px;
  --fluent-acrylic-background-dimness: 75%;
  --fluent-acrylic-background-saturate: 140%;
  --fluent-guilds-icon-size: 24px;
}
