/**
 * @name Fluent Discord
 * @author TakosThings
 * @version 1.7.3
 * @description Fluent theme for Discord (🔄 Auto-updating)
 * @invite ZYrCacRuez
 * @source https://github.com/TakosThings/Fluent-Discord
*/
@import url(https://takosthings.github.io/Fluent-Discord/Fluent-Discord.css);
@imoort url(https://raw.githubusercontent.com/samfundev/BetterDiscordStuff/a13b43c9e7e12ac43f97a6b88b9fd4eb31e215c0/Plugins/ChannelTabs/ChannelTabs.plugin.js);
/**
 * Start user options
 * Visit the wiki for information on this section
 * https://github.com/TakosThings/Fluent-Discord/wiki
*/
/**
 * Note on chat font size
 * You may want to change your chat font scaling to '14px' to match the font size in Windows.
 * This option is found in User settings > Appearance.
*/
/**
  * Visit the wiki for in-depth help on changing the below variables: https://github.com/TakosThings/Fluent-Discord/wiki/Options
  * You can change the accent colour by using the Colour Selector tool: https://takosthings.github.io/Fluent-Discord/color.html
**/
:root {
  /* DefaultBlue */
  --fluent-accent-hue-sat: 355, 86%;
  --fluent-accent-lightness: 49%;
  --fluent-text-on-accent-color: 0, 0, 0;
  --fluent-acrylic-background: url(https://raw.githubusercontent.com/Tech5G5G/Fluent-Theme-Vencord/main/img23.jpg);
  --fluent-acrylic-background-blur: 24px;
  --fluent-acrylic-background-dimness: 75%;
  --fluent-acrylic-background-saturate: 140%;
  --fluent-guilds-icon-size: 24px;
}

/**
 * End user options
*/
